---
import Layout from "@/Layout.astro";

---

<Layout title="bromine">

<div>
    <script type="text/javascript">
        aclib.runBanner({
            zoneId: '10862874',
        });
    </script>
</div>


</Layout>
