---

---

<html>
  <head>
    <script
      src="https://cdn.amplitude.com/libs/analytics-browser-2.11.1-min.js.gz"
    ></script><script>
      window.amplitude.init("70a13f31c5c44eaa3becb1368fc299da", {
        autocapture: true,
      });
    </script>
  </head>
  <body>
    <h1>test for amplitutde analytics</h1>
  </body>
</html>
