---

---

<html>
	<head>
		<script
			src="https://cdn.amplitude.com/libs/analytics-browser-2.11.1-min.js.gz"
		></script><script
			src="https://cdn.amplitude.com/libs/plugin-session-replay-browser-1.25.0-min.js.gz"
		></script><script>
			window.amplitude.add(window.sessionReplay.plugin({ sampleRate: 1 }));
			window.amplitude.init("70a13f31c5c44eaa3becb1368fc299da", {
				autocapture: { elementInteractions: true },
			});
		</script>
	</head>
	<body>
		<h1>test for amplitutde analytics</h1>
	</body>
</html>
